header {
    color: #fff;
    padding: 0px 0;
    text-align: center;
    margin-top: -2.5rem;
  }

  h2, h3 {
    margin-top: -1.2rem;
    position: relative;
    z-index: 10;
    background-color: white;
    padding: 0.5rem 0;
    font-size: em;
    font-weight: bold;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url("background.jpg"); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    text-align: center;
    background-color: white; 
  }

  article {
    margin-bottom: 5rem;
  }

  article:nth-child(2) {
    margin-top: 10rem;
  }
  
  img {
    border-radius: 0;
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 3rem;
    transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  img:hover {
    transform: scale(1.1);
    z-index: 5;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
    
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background-color: transparent;
    
  }
  
  nav ul li a:hover {
    color: gray;
  }
  
  a {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    color: #333;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    z-index: 10;
  }
  
  a:hover {
    background-color: gray;
  }
  
  main {
    max-width: 500px;
    padding: 2rem;
  }