header {
    color: #fff;
    padding: 0px 0;
    text-align: center;
    margin-top: -2.5rem;
  }

  h2 {
    margin-top: -1.2rem;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: white;
    background-image: url("background.jpg"); 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    text-align: center;
    background-color: white; 
    min-height: 100vh;
  }
  
  .image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 95%;
    width: 100%;
    margin: 40px auto;
    padding: 20px;
    justify-content: center;
  }
  
  img {
    border-radius: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    flex: 0 0 calc(33.333% - 15px);
  }
  
  img:hover {
    transform: scale(1.20);
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
    
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background-color: transparent;
    
  }
  
  nav ul li a:hover {
    color: gray;
  }
  
  a {
    display: inline-block;
    margin-right: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    color: #333;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    position: relative;
    z-index: 10;
  }
  
  a:hover {
    background-color: gray;
  }
  
  main {
    max-width: 95%;
    width: 100%;
    padding: 2rem;
  }

  @media (max-width: 968px) {
    img {
      flex: 0 0 calc(50% - 15px);
      height: 350px;
    }
  }

  @media (max-width: 580px) {
    .image-grid {
      gap: 15px;
    }
    img {
      flex: 0 0 100%;
      height: 300px;
    }
  }